<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css">
        #map {
            height: 600px;
        }
    </style>
    <script>
        var loadedCities = {{ cities|tojson }};
    </script>
    <title></title>
</head>
<body style="padding:10px;">
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="full_search-tab" data-bs-toggle="tab" data-bs-target="#full_search"
                    type="button"
                    role="tab" aria-controls="home" aria-selected="true">Full Text Search
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="spatial_search-tab" data-bs-toggle="tab" data-bs-target="#spatial_search"
                    type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Spatial Search
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="full_search" role="tabpanel" aria-labelledby="full_search-tab">
            <div class="input-group mb-3" style="padding: 20px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       id="full_search_input">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" id="full_text_search_btn" disabled>Search
                    </button>
                </div>
            </div>
            <div id="full_search_result_div" style="visibility: collapse;">
                <p id="full_search_count"></p>
                <p>Results</p>
                <ul class="list-group list-group-flush" id="full_search_result">
                </ul>

                <p style="padding-top: 20px;">Highlighted Results</p>
                <ul class="list-group list-group-flush" id="full_search_highlight_result">
                </ul>
            </div>
        </div>
        <div class="tab-pane fade show active" id="spatial_search" role="tabpanel" aria-labelledby="spatial_search-tab">
            <div class="form-group" style="padding: 20px;">
                <label for="radius_input">Radius <small id="emailHelp" class="form-text text-muted">(in
                    kilometers)</small></label>
                <input class="form-control" type="text" placeholder="Search" aria-label="Radius" style="width: 50px;"
                       id="radius_input" name="radius_input" value="10">
                <div class="input-group-append" style="margin-top: 10px;">
                    <button class="btn btn-outline-success" type="submit" id="spatial_search_btn">Search
                    </button>
                </div>
            </div>
            <div id="map">
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ url_for('static', filename='full_search.js') }}"></script>
<script src="{{ url_for('static', filename='spatial_search.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>